@page "/slither"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@using Microsoft.JSInterop
@inject IJSRuntime JS

<div id="startScreen">
    <div class="logo">slither.io</div>
    <div class="input-container">
        <input type="text" id="nameInput" placeholder="Name" maxlength="15" value="Player" />
        <button id="playButton">Spielen</button>
    </div>
</div>

<canvas id="gameCanvas"></canvas>

<div id="hud">
    <div id="score">Länge: 20</div>
    <div id="kills">Kills: 0</div>
</div>

<div id="leaderboard">
    <h3>🏆 Top 10</h3>
    <div id="leaderboardList"></div>
</div>

<div id="minimap"></div>

<div id="instructions">
    Maus = Steuern<br />
    Space = Boost
</div>

<div id="gameOver">
    <h1>Game Over</h1>
    <p id="finalScore"></p>
    <p id="finalKills"></p>
    <p id="playTime"></p>
    <button id="restartButton">Nochmal spielen</button>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("slitherStandalone.init");
        }
    }
}
