@page "/spiel5"

<PageTitle>Spiel 5</PageTitle>

<section class="page-placeholder">
    <h1>Spiel 5</h1>
    <p>Hier entsteht eines der kommenden Arcade-Projekte. Schau bald wieder vorbei!</p>
</section>
