@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="layout">
    <header class="layout__header">
        <NavLink class="layout__brand" href="/" Match="NavLinkMatch.All">Arcade</NavLink>

        <nav class="layout__nav" aria-label="Spielnavigation">
            <NavLink class="layout__nav-link" href="/tetris">Tetris</NavLink>
            <NavLink class="layout__nav-link" href="/billiard">Billiard</NavLink>
            <NavLink class="layout__nav-link" href="/snake">Snake</NavLink>
            <NavLink class="layout__nav-link" href="/minesweeper">Minesweeper</NavLink>
        </nav>

        <div class="layout__login">
            <AuthorizeView>
                <Authorized Context="auth">
                    <NavLink href="/profil"
                             class="layout__user">
                        @auth.User.Identity?.Name
                    </NavLink>
                </Authorized>

                <NotAuthorized>
                    <NavLink class="layout__login-link" href="/anmelden">Anmelden</NavLink>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </header>

    <main class="layout__main">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ein unbehandelter Fehler ist aufgetreten.
    <a href="." class="reload">Neu laden</a>
    <span class="dismiss">🗙</span>
</div>
